[Unit]
Description=Squeezebox
After=network.target

[Service]
ExecStart=/home/pi/sb/sb.py
WorkingDirectory=/home/pi/sb
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

